<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" color="primary">
      <ion-menu-button color="primary" auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button color="secondary" (click)="home()">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>ESCOLHA SUA TRILHA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="light">
    <ion-item>
      <ion-label color="success" class="ion-text-center">
        <div>
          <h3>SEU CAMINHO VOCÊ DEVE COMEÇAR</h3>
        </div>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="success" class="ion-text-center">
        <div>
          <h3>Para um jovem de sucesso se tornar</h3>
        </div>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-card-content class="ion-padding">
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="/assets/inicio.png">
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          Trilha Desenvolvedor
          <div>
            <h3>Para um jovem de sucesso se tornar</h3>
          </div>
        </ion-label>
      </ion-item>
        
      <ion-button size="small" color="primary" shape="round" fill="outline" (click)="acaoTrilha()">
        Iniciar esta trilha
      </ion-button>
      
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="/assets/inicio.png">
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          Trilha Desenvolvedor
          <div>
            <h3>Para um jovem de sucesso se tornar</h3>
          </div>
        </ion-label>
      </ion-item>
        
      <ion-button size="small" color="primary" shape="round" fill="outline" (click)="acaoTrilha()">
        Iniciar esta trilha
      </ion-button>
      
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="/assets/inicio.png">
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          Trilha Desenvolvedor
          <div>
            <h3>Para um jovem de sucesso se tornar</h3>
          </div>
        </ion-label>
      </ion-item>
        
      <ion-button size="small" color="primary" shape="round" fill="outline" (click)="acaoTrilha()">
        Iniciar esta trilha
      </ion-button>
      
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="/assets/inicio.png">
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          Trilha Desenvolvedor
          <ion-text>
            Para um jovem de sucesso se tornar
          </ion-text>
        </ion-label>
      </ion-item>
        
      <ion-button size="small" color="primary" shape="round" fill="outline" (click)="acaoTrilha()">
        Iniciar esta trilha
      </ion-button>
      
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="/assets/inicio.png">
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          Trilha Desenvolvedor
          <div>
            <h3>Para um jovem de sucesso se tornar</h3>
          </div>
        </ion-label>
      </ion-item>
        
      <ion-button size="small" color="primary" shape="round" fill="outline" (click)="acaoTrilha()">
        Iniciar esta trilha
      </ion-button>
      
    </ion-card-content>
  </ion-card>
</ion-content>
