<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" color="primary">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-wrap">INÍCIO</ion-title>
    <ion-badge (click)="notificacao()" mode="ios" color="danger" slot="end">06</ion-badge>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-row>
      <ion-col size="5" class="ion-no-padding">
        <ion-card color="dark">
          <ion-img src="/assets/estudante.png"></ion-img>
        </ion-card>
      </ion-col>
      <ion-col size="7">
        <ion-item>
            <ion-text color="dark">
              <h4>Nome: Mariane</h4>
            </ion-text>
        </ion-item>
        <ion-item>
          <ion-text color="medium-shade">
            <h6>Nível: Avançado</h6>
          </ion-text>
      </ion-item>
      <ion-item>
        <ion-button size="small" color="primary" shape="round" fill="outline" (click)="chamarPerfil()">Perfil</ion-button>
      </ion-item>
      </ion-col>
    </ion-row>
    <ion-card>
      <ion-item>
        <ion-card-subtitle>XP: </ion-card-subtitle>
        <ion-progress-bar class="ion-padding"color="success" value="0.85" buffer="0.85"></ion-progress-bar>
      </ion-item>
    </ion-card>
    <ion-card>
      
        <ion-card color="dark">
          <ion-chip color="secondary">
            <ion-icon name="analytics-outline"></ion-icon>
            <ion-label>Ranking</ion-label>
          </ion-chip>
          <ion-text class="pontos" color="secondary"> 1º </ion-text>
        </ion-card>
      
      
        <ion-card color="dark">
          <ion-chip color="secondary">
            <ion-icon name="game-controller-outline"></ion-icon>
            <ion-label>Desafios</ion-label>
          </ion-chip>
          <ion-text class="pontos" color="secondary"> 3  </ion-text>
        </ion-card>
      
        
          <ion-card color="dark">
            <ion-chip color="secondary">
              <ion-icon name="trophy-outline"></ion-icon>
              <ion-label>Conquistas</ion-label>
          </ion-chip>
          <ion-text class="pontos" color="secondary"> 5 </ion-text>
        </ion-card>
      
    </ion-card>
    <ion-button expand="block" color="primary" shape="round" (click)="chamarTrilha()">
      <ion-icon name="trail-sign-outline"></ion-icon>
       --Inicie sua Trilha--
      <ion-icon name="trail-sign-outline"></ion-icon>
    </ion-button>
  </ion-card>
  <ion-card>
    <ion-label>
      <ion-card-title class="ion-text-center" color="dark">Você vai decolar com esses cursos
      </ion-card-title>
    </ion-label>
    <ion-card>
      <ion-img src="/assets/maratona.png"></ion-img>
      <ion-card-title>Maratona Dev</ion-card-title>
      <ion-card-subtitle color="medium-shade" class="ion-text-wrap">Desenvolvedor raiz cresce nos desafios e neste curso, temos vários para você</ion-card-subtitle>
      <ion-button size="small" color="primary" shape="round" fill="outline">Ver Mais</ion-button>
    </ion-card>
  </ion-card>
  <ion-progress-bar color="dark" value="0.01" buffer="0.01"></ion-progress-bar> 
  <ion-card>
    <ion-label>
      <ion-card-title class="ion-text-center" color="dark">Tem Evento Rolando
      </ion-card-title>
    </ion-label>
    <ion-card>
      <ion-img src="/assets/maratona.png"></ion-img>
      <ion-card-title>Como monetizar seu conhecimento?!</ion-card-title>
      <ion-card-subtitle color="medium-shade" class="ion-text-wrap">Um dos objetivos do conhecimento é gerar valor e renda. Saiba como o s</ion-card-subtitle>
      <ion-button size="small" color="primary" shape="round" fill="outline">Ver Mais</ion-button>
    </ion-card>
  </ion-card>
  <ion-progress-bar color="dark" value="0.01" buffer="0.01"></ion-progress-bar>
  <ion-card>
    <ion-label>
      <ion-card-title class="ion-text-center" color="dark">Vem com a Comunidade
      </ion-card-title>
    </ion-label>
    <ion-card>
      <ion-img src="/assets/maratona.png"></ion-img>
      <ion-card-title>Eng Dark Side</ion-card-title>
      <ion-card-subtitle color="medium-shade" class="ion-text-wrap">A força da maior comunidade de engenheiros do Brasil</ion-card-subtitle>
      <ion-button (click)="telaComunidade()" size="small" color="primary" shape="round" fill="outline">Ver Mais</ion-button>
    </ion-card>
  </ion-card>
</ion-content>
