<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" color="primary">
      <ion-menu-button auto-hide="false" color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button color="secondary" (click)="home()">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Comunidades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-label>
      <ion-card-title class="ion-text-center">Vem com a Comunidade
      </ion-card-title>
    </ion-label>
  </ion-card>
  <ion-card>
    <ion-img src="/assets/maratona.png"></ion-img>
    <ion-card-title color="dark" class="ion-text-center">Eng Dark Side</ion-card-title>
    <ion-card-subtitle color="medium-shade" class="ion-text-wrap">A força da maior comunidade de engenheiros do Brasil</ion-card-subtitle>
    <ion-button size="small" color="primary" shape="round" fill="outline">Ver Mais</ion-button>
  </ion-card>
  <ion-card>
    <ion-img src="/assets/maratona.png"></ion-img>
    <ion-card-title color="dark" class="ion-text-center">Programadores do Além</ion-card-title>
    <ion-card-subtitle color="medium-shade" class="ion-text-wrap">Programação além do convencional, venha conhecer as novidades constantes da comunidade</ion-card-subtitle>
    <ion-button size="small" color="primary" shape="round" fill="outline">Ver Mais</ion-button>
  </ion-card>
  <ion-card>
    <ion-img src="/assets/maratona.png"></ion-img>
    <ion-card-title color="dark" class="ion-text-center">RH do Bem</ion-card-title>
    <ion-card-subtitle color="medium-shade" class="ion-text-wrap">Ajudamos aos novos egressos no mercado e quem busca recolocação e dicas do mercado de trabalho</ion-card-subtitle>
    <ion-button size="small" color="primary" shape="round" fill="outline">Ver Mais</ion-button>
  </ion-card>
</ion-content>
