<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" color="primary">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button color="secondary" (click)="home()">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-wrap">Notificações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <h3>  Veja suas tarefas aqui</h3>
    <ion-col>
     
      <ion-card class="ion-padding" color="light">
        <ion-item color="light" >
          <ion-thumbnail slot="start">
            <img src="/assets/inicio.png">
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">
            Trilha Desenvolvedor
            <div>
              <h3>Para um jovem de sucesso se tornar</h3>
            </div>
          </ion-label>
        </ion-item>
      </ion-card>
      <ion-card class="ion-padding" color="light" >
        <ion-item color="light" >
          <ion-thumbnail slot="start">
            <img src="/assets/inicio.png">
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">
            Trilha Desenvolvedor
            <div>
              <h3>Para um jovem de sucesso se tornar</h3>
            </div>
          </ion-label>
        </ion-item>
      </ion-card>
      <ion-card class="ion-padding"  >
        <ion-item  >
          <ion-thumbnail slot="start">
            <img src="/assets/inicio.png">
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">
            Trilha Desenvolvedor
            <div>
              <h3>Para um jovem de sucesso se tornar</h3>
            </div>
          </ion-label>
        </ion-item>
      </ion-card>
      <ion-card class="ion-padding" color="light">
        <ion-item color="light" >
          <ion-thumbnail slot="start">
            <img src="/assets/inicio.png">
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">
            Trilha Desenvolvedor
            <div>
              <h3>Para um jovem de sucesso se tornar</h3>
            </div>
          </ion-label>
        </ion-item>
      </ion-card>
      <ion-card class="ion-padding" >
        <ion-item  >
          <ion-thumbnail slot="start">
            <img src="/assets/inicio.png">
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">
            Trilha Desenvolvedor
            <div>
              <h3>Para um jovem de sucesso se tornar</h3>
            </div>
          </ion-label>
        </ion-item>
      </ion-card>
      <ion-card class="ion-padding" >
        <ion-item  >
          <ion-thumbnail slot="start">
            <img src="/assets/inicio.png">
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">
            Trilha Desenvolvedor
            <div>
              <h3>Para um jovem de sucesso se tornar</h3>
            </div>
          </ion-label>
        </ion-item>
      </ion-card>
      
    </ion-col>
   
    
  </ion-card>
</ion-content>